body {
  background-color: lightblue;
  margin-left: 25px;
  margin-right: 25px;
}
.body-container{
  max-width: 900px;
  width: 100%;
  margin: 10px auto 0 auto;
  padding: 0 16px;
  border-radius: 10px;
  box-sizing: border-box;
  font-family:serif;
}
.content-container{
  padding-right: 20px;
  padding-left: 20px;
}
.content-container p{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  text-align: justify;
}
*{
  text-decoration: none
}
.navbar-div{
  display: flex;
  padding-right: 0px;
  padding-left: 15px;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-bottom: 2px solid black;
}
.navbar-logo{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px;
  color: rgb(148, 15, 15);
}
.navbar-links{
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 10px;
  font-size: 22px;
}
.navbar-links li{
  margin-right: 10px;
  margin-left: 10px;
}
.navbar-links li a{
  color: rgb(200, 37, 121);
  font-weight: bold;
}
.navbar-links li a:hover{
  color: rgb(130, 12, 108);
}
.navbar-links .current-page-nav-link a{
  text-decoration: underline;
}
.footer {
  border-top:1px solid black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  margin-top: 50px;
}
.footer-theme-decl a{
  color: green;
}
.footer-theme-decl a:hover {
  text-decoration: underline;
}
.footer-message, 
.footer-message a{
  color: rgb(0, 98, 255);
}
.footer-message a:hover{
  text-decoration: underline;
}
.post-list-container h3{
  display: table; /* Shrink to fit content while remaining block-level */
  position: relative; /* Establishes a positioning context for the pseudo-element */
  padding-bottom: 4px; /* Adds some space for the underline */
  margin-top: 10px;
  margin-bottom: 0px;
}
.post-list-container.with-underline h3::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 50px); /* Set width to content width + 25px */
  height: 1px;
  background-color: blue;
}
.post-list-container h3 a{
  color: blue;
}
.post-list-container h3 a:hover{
  text-decoration: underline;
}
.post-horizontal-rule {
  border: none;
  background-color: blue;
  height: 1px;
}
.post-list-container p{
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}
