body {
  background-color: lightblue;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center
}
.body-container{
  max-width: 900px;
  width: 100%;
  margin: 10px auto 0 auto;
  padding: 0 16px;
  border-radius: 10px;
  box-sizing: border-box;
  font-family:serif;
}
*{
  text-decoration: none
}
.navbar-div{
  display: flex;
  padding-right: 0px;
  padding-left: 15px;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-bottom: 2px solid black;
}
.navbar-logo{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px;
  color: red;
}
.navbar-links{
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 10px;
  font-size: 22px;
}
.navbar-links li{
  margin-right: 10px;
  margin-left: 10px;
}
.navbar-links li a{
  color: rgb(240, 6, 197);
}
.footer {
  border-top:1px solid black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
}
.footer-theme-decl a{
  color: green;
}
.footer-theme-decl a:hover {
  text-decoration: underline;
}
.footer-message, 
.footer-message a{
  color: orangered;
}
.footer-message a:hover {
  text-decoration: underline;
}

